
{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<main>

    <section id="form-container">
        <img src="{% static 'images/chat-icon.png' %}" alt="chat icon">
        <div>
            <h1>Welcome to my chat</h1>
            <p>A group video chat just for you!</p>
        </div>
    </section>

    <form id="form">
        <div class="form-field">
            <input type="submit" value="Join stream">
        </div>
    </form>
</main>

<script type="text/javascript">
    let form=document.getElementById('form')
    let handleSubmit= async (e) => {
        e.preventDefault()
        window.open('/room/','_self')
    }
    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content%}

